body {
  background-color: #2f302f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li {
    padding: 10px;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.header {
  text-align: center;
}

.nav {
  margin: 0px;
  background-color: #878787;
  padding: 10px;
}

.login {
  display: flex;
  flex-direction: row;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.content-section {
  background-color: #878787;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 100px;
}

.image-content {
  height: 200px;
  width: auto;
  margin: 10px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: green;
}
